.DS_Store
node_modules
/node_modules
./node_modules
.git

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
